.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
}

.text_box {
  display: block;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.title {
  text-align: center;
  margin-top: 5%;
  width: auto;
}


/* The whole screen page style */
.root {
  position: absolute;
  width: 100vw;
  height: 100vh;
}
/* The whole screen page style */
.container {
  font-family: sans-serif;
  text-align: center;
  background: #0064B1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
}
/* The container box style */
.login-form {
  display: flex;
  background: #F7E7CE;
  width: 70%;
  height: 70%;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  overflow: hidden;
}
/* Login side of the container box style */
.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120%;
}
/* SmartInventory logo style */
.login-form-container > img {
  width: 80%;
  height: auto;
  margin-top: -20%; 
  background-size: contain;
}
/* UTA logo style */
.login-sider > img {
  width: 90%;
  height: auto;
  margin-top: -20%; 
  background-size: contain;
}
/* Login side of container box header's style */
.login-form-container > h1 {
  margin-top: 1%; 
}
/* Sign Up side of the container box style */
.login-sider {
  width: 100%;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
/* Sign Up side of the container box header's style */
.login-sider > h2 {
  position: relative;
  color: #F58025;
  font-size: 70px;
  font-weight: bold;
}
/* Sign Up side of the container box body's style */
.login-sider > div {
  position: relative;
  top: -10%;
  font-size: 20px;
  color: #000000;
}
/* Login button style */
.login-form-button {
  width: 100%;
}
/* Sign Up button style */
.login-form-signup-button {
  width: 100px;
  background-color: #F58025;
  border-radius: 12px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;  
  position: relative;
  top: 20px;
  left: auto;
}
/*  */
.ant-form-item {
  width: 70%;
  height: 200%
}
/*  */
.ant-input-affix-wrapper {
  border: none;
  border-bottom: 1px solid #F58025;
}